mailfolder = /home/yourusername/Maildir

[craigslist-nyc-macbooks]
fulltext = 1
url = http://newyork.craigslist.org/search/sys?query=macbook&minAsk=min&maxAsk=max&format=rss

[craigslist-nyc-thinkpads]
fulltext = 1
url = http://newyork.craigslist.org/search/sys?query=thinkpad&minAsk=min&maxAsk=max&format=rss

